@font-face {
    font-family: 'Red Hat Display';
    src: url('path-to-your-font-file.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    background: #FAFAFA;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3rem;
}

.group {
    width: 100%;
    margin-top: 5rem;
    display: flex;
}

#img-left {
    position: absolute;
    left: -2rem;
}

#img-right {
    position: absolute;
    right: -2rem;

}

.group-chat {
    width: 33rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 33vw;
}

.group-chat h1 {
    width: 27.8125rem;
    position: absolute;
    top: 2rem;
    font-size: 4rem;
}

.group-chat p {
    color: #87879D;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
    margin-top: 7rem;
}

.group-btn {
    width: 22rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

button {
    width: 12rem;
    height: 3.625rem;
    border-radius: 1.8125rem;
    cursor: pointer;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.625rem;
    border: none;

}

button span {
    color: #8FE3F9;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.625rem;

}

#btn-1 {
    background: #4D96A9;
    transform: 0.2s;
}

#btn-1:hover {
    background: #71C0D4;

}

#btn-2 {
    width: 8.6875rem;
    transform: 0.2s;
    background: #855FB1;
}

#btn-2:hover {
    background: #B18BDD;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    width: 70%;
    margin-top: 14rem;
    margin-left: 15%;
}

.non {
    position: relative;
    top: 10rem;
    left: 49%;
    display: flex;
    width: 4rem;
    height: 8.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.non img,
.two img {
    position: absolute;
    top: 0;
}


.number {
    position: absolute;
    bottom: 0;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #87879D;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.625rem;
    border-radius: 1.8125rem;
    border: 1px solid rgba(135, 135, 157, 0.25);
    background: #FAFAFA;
}

section img {
    width: 16rem;
    height: 16rem;
    border-radius: 0.6435rem;
}

article {
    margin-top: 5rem;
    width: 34%;
    margin-left: 33%;
    text-align: center;
    
}

article h2 {
    color: #4D96A9;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.625rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

article h1 {
    width: 30rem;
    color: #28283D;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.75rem;
    margin-top: .8rem;
}

article p {
    margin-top: .8rem;
    color: #87879D;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
}

.two {
    position: relative;
    top: 2rem;
    left: 49%;
    display: flex;
    width: 4rem;
    height: 8.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer {
    margin-top: rem;
    width: 100%;
    height: 19.25rem;
    background-color: rgba(77, 150, 169, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background: linear-gradient(rgba(77, 150, 169, .8), rgba(77, 150, 169, .8)), url(assets/desktop/image-footer.jpg) center/cover no-repeat;
}


.foot {
    width: 69.375rem;
    display: flex;
    justify-content: space-between;
    color: #FAFAFA;
}

.foot h2 {
    width: 26rem;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.75rem;
}

.foot p {
    width: 21.875rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
}

#btn-3 {
    border-radius: 1.8125rem;
    background: #855FB1;
    transform: 0.2s;
}

#btn-3:hover {
    background: #B18BDD;
}

.foot span {
    color: #D9B8FF;
}


@media (min-width: 768px) and (max-width: 885px) {

    .group{
        background-image: url(/assets/tablet/image-hero.png);
        background-repeat: no-repeat;
        background-size: 100% 18.9375rem;
    }
    .group img{
        display: none;
    }

    .group-chat{
        top: 20rem;
        left: 0;
        width: 100%;
    }

    .group-chat p{
width: 28.5625rem;  
  }

  .non{
    top: 23rem;
  }

  section{
    margin-top: 30rem;
    width: 70%;
    margin-left: 7%;
  }

  section img{
    width: 10rem;
        height: 11rem;
  }

  article{
    background-color: red;
width: 35rem;
 margin-left: 14%;
 
 }
 article h1{
margin-left: 2rem;
 }

}



@media (min-width: 360px) and (max-width: 430px) {}